:root {
    --black:#030303;
    --red:#FF4E00;
    --heading-two:75px;
    --tag:20px;
    --text:18px;
    --card-heading:25px;
    --tablet-heading-two:60px;
    --mobile-heading-two:50px;
    --mobile-tag:18px;
    --mobile-text:14px;
    --mobile-card-heading:20px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Futura PT', sans-serif;
}


.red-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--black);
    background: var(--red);
    border:2px solid var(--red);
    cursor:pointer;
    font-weight:700;
}

ul {
    list-style:none;
}

a {
    color:var(--red);
    text-decoration:none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
body {
    background: var(--black);
}

/* Dropdown */

/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:var(--red);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.432);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
    color:var(--black) !important;

}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position:fixed;
}
.header-wrapper {
    padding:2rem 4rem;
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper ul li {
    color:var(--red);

}
.header-wrapper ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;
    color:var(--red);
}

@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}

/* Main */

main {
    background-image: linear-gradient(to bottom, #030303, #03030300 60% ), linear-gradient(to top, #030303, #03030300 10% ), url(scaffolding-home-png/shirish-suwal-G3PCD962gXk-unsplash1.png);
    background-size:max(850px, 100%);
    background-repeat: no-repeat;
}
main .wrapper img {
    width:500px;
}
main .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block:14rem;
    gap:2rem;
    padding-bottom:50rem;
}
main .wrapper h1 {
    max-width:50ch;
    text-align:center;
    line-height:1.75;
    font-weight:200;
    font-size:var(--text);
}
@media (max-width:1110px) {
    main .wrapper {
        padding-bottom:30rem;

    }
}
@media (max-width:983px) {
    main .wrapper {
        padding-bottom:20rem;

    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
        padding-top:14rem;
    }
    main .wrapper img {
        width:450px;
    }
}
@media (max-width:532px) {
    main .wrapper img {
        width:400px;
    }
}

@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    main .wrapper h1 {
        font-size:var(--mobile-text);
    }
}
@media (max-width:448px) {
    main .wrapper img {
        width:325px;
    }
}
@media (max-width:373px) {
    main .wrapper img {
        width:275px;
    }
    main .wrapper P {
        max-width:34ch;
    }
}
@media (max-width:316px) {
    main .wrapper img {
        width:250px;
    }
    main .wrapper P {
        max-width:34ch;
    }
}
/* First Text */

.first-text-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:white;
}
.first-text-section h2 {
    font-size:var(--heading-two);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;

}

.first-text-section .wrapper h2 > span:nth-child(2) {
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: flex-end;
    width:75%;
}

.first-text-section .wrapper h2 > span > span {
    color:var(--red);
}
.first-text-section .wrapper h2 > span:nth-child(3) {
    width:100%;
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: flex-end;
}
@Media (max-width:1000px) {
    .first-text-section .wrapper h2 > span:nth-child(2) {
        justify-content: flex-start;
    }
    .first-text-section .wrapper h2 > span:nth-child(3) {
        justify-content: flex-start;
    }
   
}
@media (max-width:831px) {
    .first-text-section .wrapper h2 {
        font-size:var(--tablet-heading-two);
    }
}

@Media (max-width:700px) {
    .first-text-section .wrapper {
        padding-inline:2rem;
    }
   
}
@media (max-width:686px) {
    .first-text-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
}
@media (max-width:543px) {
    .first-text-section .wrapper h2 {
        font-size:40px;;
    }
}
@Media (max-width:500px) {
    .first-text-section .wrapper {
        padding-inline:1rem;
    }  
}
@media (max-width:543px) {
    .first-text-section .wrapper h2 {
        font-size:35px;;
    }
}
@media (max-width:366px) {
    .first-text-section .wrapper h2 {
        font-size:30px;;
    }
}
@media (max-width:315px) {
    .first-text-section .wrapper h2 {
        font-size:25px;;
    }
}
/* Services */

.services-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:white;
    gap:4rem;
}
.services-top {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.services-top p {
    line-height:1.75;
    font-weight:200;
    max-width:75ch;
}
.services-bottom {
    display:grid;
    gap:2rem;
    width:100%;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}
.services-bottom img {
    width:100%;
}
.services-card {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.services-card p:nth-of-type(1) {
    font-size:var(--card-heading);
    font-weight:700;
}
.services-card p:nth-of-type(2) {
    font-size:var(--text);
    font-weight:200;
    line-height:1.75;
    max-width:30ch;
}
.services-section .wrapper button {
    display:flex;
    flex-direction: column;
    font-weight:700;
    color:white;
    background-color:transparent;
    border:none;
    gap:0.5rem;
    font-size:var(--text);
    cursor:pointer;
}
.services-section .wrapper button img {
    width:30px;
    align-self: flex-end;
}
@media (max-width:1000px) {
    .services-section .wrapper {
        padding-top:0;
    }
}
@media (max-width:700px) {
    .services-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .services-section .wrapper {
        padding-inline:1rem;
    }
    .services-card p:nth-of-type(1) {
        font-size:var(--mobile-card-heading);
    }
    .services-card p:nth-of-type(2) {
        font-size:var(--mobile-text);
    }
    .services-top p {
        font-size:var(--mobile-text);
    }
    
}
@media (max-width:472px) {
    .services-bottom {
        display:grid;
        gap:2rem;
        width:100%;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
}
/* Second Text */

.second-text-section .wrapper h2 {
    color:white;
    font-size:100px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.second-text-section h2 span {
    width:100%;
}
.second-text-section .wrapper h2  span:nth-child(2) {
    display:flex;
    justify-content: flex-end;
    width:60%;
    color:var(--red);
}
.second-text-section .wrapper h2  span:nth-child(3) {
    display:flex;
    justify-content: flex-end;
    width:100%;
}
@Media (max-width:1000px) {
    .second-text-section .wrapper h2 span {
        justify-content: flex-start !important;
    }
}
@media (max-width:700px) {
    .second-text-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .second-text-section .wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:831px) {
    .second-text-section .wrapper h2 {
        font-size:75px;
    }
    .second-text-section .wrapper {
        padding-top:0;
    }
}
@media (max-width:487px) {
    .second-text-section .wrapper h2 {
        font-size:50px;
    }
}
@media (max-width:337px) {
    .second-text-section .wrapper h2 {
        font-size:40px;
    }
}
/* Paragraph Section */

.paragraph-section .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:4rem;
}
.paragraph-section p {
    font-weight:200;
    line-height:1.75;
    font-size:var(--text);
    max-width:60ch;
}
.paragraph-section p:nth-child(2) {
    align-self:flex-end;
}
@Media (max-width:1000px) {
    .paragraph-section p:nth-child(2){
        align-self: flex-start !important;
    }
    .paragraph-section p{
       max-width:100%;
    }
}
@Media(max-width:700px) {
    .paragraph-section .wrapper {
        padding-inline:2rem;
    }
}
@Media(max-width:500px) {
    .paragraph-section .wrapper {
        padding-inline:1rem;
        padding-top:0 !important;
    }
    .paragraph-section p {
        font-size:var(--mobile-text) !important;
    }
}
/* What We Do */

.what-we-do-section .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.what-we-do-titles p {
    color:var(--red);
    font-size:var(--tag);
    font-weight:700;
}
.what-we-do-titles h2 {
    font-size:var(--heading-two);
    font-weight:700;
}
.what-we-do-section .wrapper > p {
    font-weight:200;
    max-width:55ch;
    font-size:var(--text);
    line-height:1.75;
}
.what-we-do-section a{
    margin-top:1rem;
}
@media (max-width:700px) {
    .what-we-do-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .what-we-do-section .wrapper {
        padding-inline:1rem;
        padding-top:0;
    }
    .what-we-do-titles h2 {
        font-size:var(--mobile-heading-two);
    }
    .what-we-do-titles p {
        font-size:var(--mobile-tag);
    }
    .what-we-do-section .wrapper > p {
        font-size:var(--mobile-text);
    } 
}
/* Meet the Team **/

.meet-the-team-section .wrapper {
    display:flex;
    align-items: center;
}
.team-left {
    width:40%;
}
.team-right {
    width:60%;
}
.team-right {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    gap:1rem;

}
.team-right img {
    width:100%;
}
.team-left {
    display:flex;
    align-items: flex-start;
    color:white;
    flex-direction: column;
    gap:2rem;
    align-self: flex-end;
    height:100%;
}
.full-team {
    display:flex;
    align-items: center;
    gap:2rem;
}
.team-left h2 {
    font-size:var(--mobile-heading-two);
}
.circles {
    display:flex;
    align-items: center;
}
.circles img:nth-child(2) {
    margin-left:-1rem;
}
.circles img {
    width:75px;
}

.full-team button {
    display:flex;
    flex-direction: column;
    font-weight:700;
    color:white;
    background-color:transparent;
    border:none;
    gap:0.5rem;
    font-size:var(--text);
    cursor:pointer;
}
.full-team button img {
    align-self:flex-end;
}
.image-item {
    color:white;
    position:relative;
}
.image-item p {
    font-size:30px;
    font-weight:700;
    position:absolute;
    bottom:2%;
    left:50%;
    transform:translateX(-50%)
}
@Media (max-width:1000px) {
    .meet-the-team-section .wrapper {
        flex-direction: column;
        gap:4rem;
    }
    .team-left {
        width:100%;
    }
    .team-right {
        width:100%;
    }
}
@media (max-width:859px) {
    .team-right {
        grid-template-columns: 1fr;
    }
}
@media (max-width:700px) {
    .meet-the-team-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .meet-the-team-section .wrapper {
        padding-inline:1rem;
    }
    .team-left h2 {
        font-size:var(--mobile-heading-two);
    }
    .team-left h2 {
        font-size:35px;
    }
}
@Media (max-width:378px) {
    .full-team {
        flex-direction: column;
        align-items: flex-start;
    }
}
/* Contact */
.contact-section {
    background-image: linear-gradient(to bottom, #030303, #03030300 75%), linear-gradient(to top, #030303, #03030300 75%), url(scaffolding-home-png/mi4.png)
}

.contact-section .wrapper {
    display:flex;
    color:white;
    align-items: center;
    gap:2rem;
}
.contact-left,
.contact-right {
    width:50%;
}
.contact-left {
    display:flex;
    flex-direction: column;
    align-self:flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    gap:4rem;
}
.contact-left h2 {
    font-size:var(--mobile-heading-two);
}
.list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.list-item {
    display:flex;
    align-items: center;
    gap:1rem;
}
.list-item img {
    width:50px;
}
form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
fieldset {
    border:none;
    width:100%;
}
input,
textarea {
    width:100%;
    padding-block:1rem;
    padding-inline:0.5rem;
    background-color:#b8b4b476;
    backdrop-filter: blur(10px);
    border:none;
    border-radius:0.75rem;
    color:white;

}
input:focus,
textarea:focus {
    outline:2px solid white;
}
form > fieldset:nth-child(1) {
    display:flex;
    align-items: center;
    gap:1rem;
}
form button {
    margin-top:1rem;
}
@media (max-width:1000px) {
    .contact-section .wrapper {
        flex-direction: column;
        gap:6rem
    }
    .contact-right,
    .contact-left {
        width:100%;
    }
}
@media (max-width:700px) {
    .contact-section .wrapper {
        padding-inline:2rem;
    }
    form > fieldset:nth-child(1) {
        gap:0.5rem;
    }
}
@media (max-width:500px) {
    .contact-section .wrapper {
        padding-inline:1rem;
    }
    .contact-left h2 {
        font-size:35px;
    }
}

/* Footer */

footer .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block:2rem;
    padding-top:4rem;
}
.footer-top {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-block:1rem;
}
.logo-footer {
    width:20%;
}
.logo-footer img {
    width:150px;
}
.icons {
    width:20%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
}
.footer-top ul {
    display:flex;
    align-items: center;
    gap:2rem;
    width:60%;
    justify-content: center;
}
.footer-bottom {
    width:100%;
    border-top:1px solid white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-block:1rem;
}
.island {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0.5rem;
}
.island p {
    font-size:20px;
    color:white;
}
.island img {
    width:125px;
}

@media (max-width:1000px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        gap:4rem;
        padding-block:4rem;
    }
    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap:4rem;
        padding-block:4rem;
    }
    
    .icons {
        width:100%;
        align-items: center;
        justify-content: center;
        display:flex;
    }
    .logo-footer,
    footer ul {
        width:100%;
        align-items: center;
        justify-content: center;
        display:flex;
    }
}

@media (max-width:700px) {
    footer .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    footer .wrapper {
        padding-inline:1rem;
    }
}