:root {
    --black:#030303;
    --red:#FF4E00;
    --heading-two:75px;
    --tag:20px;
    --text:18px;
    --card-heading:25px;
    --tablet-heading-two:60px;
    --mobile-heading-two:50px;
    --mobile-tag:18px;
    --mobile-text:12px;
    --mobile-card-heading:20px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Futura PT', sans-serif;
}


.red-button {
    padding:0.5rem 1.5rem;
    border-radius:10rem;
    color:var(--black);
    background: var(--red);
    border:2px solid var(--red);
    cursor:pointer;
    font-weight:700;
}

ul {
    list-style:none;
}

a {
    color:var(--red);
    text-decoration:none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
body {
    background: var(--black);
}

/* Dropdown */

/******* Dropdown *****/
/***********************/
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:var(--green);
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.432);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}

/* Header */
header {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position:fixed;
}
.header-wrapper {
    padding:2rem 4rem;
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper ul li {
    color:var(--red);

}
.header-wrapper ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;
    color:var(--red);
}

@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}

/* Main */

main {
    background-image: linear-gradient(to bottom, #030303, #03030300 60% ), linear-gradient(to top, #030303, #03030300 10% ), url(scaffolding-home-png/shirish-suwal-G3PCD962gXk-unsplash1.png);
    background-size:max(850px, 100%);
    background-repeat: no-repeat;
}
main .wrapper img {
    width:500px;
}
main .wrapper {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block:14rem;
    gap:2rem;
    padding-bottom:50rem;
}
main .wrapper h1 {
    max-width:50ch;
    text-align:center;
    line-height:1.75;
    font-weight:200;
    font-size:var(--text);
}
@media (max-width:1110px) {
    main .wrapper {
        padding-bottom:30rem;

    }
}
@media (max-width:983px) {
    main .wrapper {
        padding-bottom:20rem;

    }
}
@media (max-width:700px) {
    main .wrapper {
        padding-inline:2rem;
        padding-top:14rem;
    }
    main .wrapper img {
        width:450px;
    }
}
@media (max-width:532px) {
    main .wrapper img {
        width:400px;
    }
}

@media (max-width:500px) {
    main .wrapper {
        padding-inline:1rem;
    }
    main .wrapper h1 {
        font-size:var(--mobile-text);
    }
}
@media (max-width:448px) {
    main .wrapper img {
        width:325px;
    }
}
@media (max-width:373px) {
    main .wrapper img {
        width:275px;
    }
    main .wrapper P {
        max-width:34ch;
    }
}
@media (max-width:316px) {
    main .wrapper img {
        width:250px;
    }
    main .wrapper P {
        max-width:34ch;
    }
}
/* First Text */

.first-text-section .wrapper {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:white;
}
.first-text-section h2 {
    font-size:var(--heading-two);
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;

}

.first-text-section .wrapper h2 > span:nth-child(2) {
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: flex-end;
    width:75%;
}

.first-text-section .wrapper h2 > span > span {
    color:var(--red);
}
.first-text-section .wrapper h2 > span:nth-child(3) {
    width:100%;
    display:flex;
    align-items: center;
    gap:1rem;
    justify-content: flex-end;
}
@Media (max-width:1000px) {
    .first-text-section .wrapper h2 > span:nth-child(2) {
        justify-content: flex-start;
    }
    .first-text-section .wrapper h2 > span:nth-child(3) {
        justify-content: flex-start;
    }
   
}
@media (max-width:831px) {
    .first-text-section .wrapper h2 {
        font-size:var(--tablet-heading-two);
    }
}

@Media (max-width:700px) {
    .first-text-section .wrapper {
        padding-inline:2rem;
    }
   
}
@media (max-width:686px) {
    .first-text-section .wrapper h2 {
        font-size:var(--mobile-heading-two);
    }
}
@media (max-width:543px) {
    .first-text-section .wrapper h2 {
        font-size:40px;;
    }
}
@Media (max-width:500px) {
    .first-text-section .wrapper {
        padding-inline:1rem;
    }  
}
@media (max-width:543px) {
    .first-text-section .wrapper h2 {
        font-size:35px;;
    }
}
@media (max-width:366px) {
    .first-text-section .wrapper h2 {
        font-size:30px;;
    }
}
@media (max-width:315px) {
    .first-text-section .wrapper h2 {
        font-size:25px;;
    }
}
/* Services */

.services-section .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color:white;
    gap:4rem;
}
.services-top {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.services-top p {
    line-height:1.75;
    font-weight:200;
    max-width:75ch;
}
.services-bottom {
    display:grid;
    gap:2rem;
    width:100%;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
}
.services-bottom img {
    width:100%;
}
.services-card {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
}
.services-card p:nth-of-type(1) {
    font-size:var(--card-heading);
    font-weight:700;
}
.services-card p:nth-of-type(2) {
    font-size:var(--text);
    font-weight:200;
    line-height:1.75;
    max-width:30ch;
}
.services-section .wrapper button {
    display:flex;
    flex-direction: column;
    font-weight:700;
    color:white;
    background-color:transparent;
    border:none;
    gap:0.5rem;
    font-size:var(--text);
    cursor:pointer;
}
.services-section .wrapper button img {
    width:30px;
    align-self: flex-end;
}
@media (max-width:1000px) {
    .services-section .wrapper {
        padding-top:0;
    }
}
@media (max-width:700px) {
    .services-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .services-section .wrapper {
        padding-inline:1rem;
    }
    .services-card p:nth-of-type(1) {
        font-size:var(--mobile-card-heading);
    }
    .services-card p:nth-of-type(2) {
        font-size:var(--mobile-text);
    }
    .services-top p {
        font-size:var(--mobile-text);
    }
    
}
@media (max-width:472px) {
    .services-bottom {
        display:grid;
        gap:2rem;
        width:100%;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
}
/* Second Text */

.second-text-section .wrapper h2 {
    color:white;
    font-size:100px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.second-text-section h2 span {
    width:100%;
}
.second-text-section .wrapper h2  span:nth-child(2) {
    display:flex;
    justify-content: flex-end;
    width:60%;
    color:var(--red);
}
.second-text-section .wrapper h2  span:nth-child(3) {
    display:flex;
    justify-content: flex-end;
    width:100%;
}
@Media (max-width:1000px) {
    .second-text-section .wrapper h2 span {
        justify-content: flex-start !important;
    }
}
@media (max-width:700px) {
    .second-text-section .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .second-text-section .wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:831px) {
    .second-text-section .wrapper h2 {
        font-size:75px;
    }
    .second-text-section .wrapper {
        padding-top:0;
    }
}
@media (max-width:487px) {
    .second-text-section .wrapper h2 {
        font-size:50px;
    }
}
@media (max-width:337px) {
    .second-text-section .wrapper h2 {
        font-size:40px;
    }
}